*{
    border: 0;
    padding:0 ;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body{
    margin: 0 auto;
    max-width: 1600px;
    background: #1A0B2E;
}


/* Shared Styles */
.display-flex{
    display: flex;
}

.gradient-text{
    background: linear-gradient(10deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.btn{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    height: 44px;
    width: 135px;
    padding: 1.2rem 1.6rem;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 60px;
    cursor: pointer;

}

.btn:hover{
    height: 48px;
    background: #9100F8;
}



/* Navbar style here */

nav{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 200px 0 200px;
}

nav #logo{
    font-size: 4.5rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}

nav .menu li{
    list-style: none;

}

nav .menu a{
    text-decoration: none;
    color: white;
    font-size:1.6rem;
    font-weight: 500;
    margin: 3.2rem;
   
}

#hamburger-icon{
    display: none;
    
}

/* banner section here */

#banner-container{
    width: 100%;
    height: 760px;
    margin: 0 auto;
    background-image:url(../images/microphone.png),
                     url(../images/hero-circle.png),
                     url(../images/hero-bg.png);
    background-repeat:no-repeat,
                    no-repeat,
                    no-repeat;
    background-position: center center,
                        center center,
                        center top;
    background-size: 80px,
                     260px,
                     100% auto;
    
    

}

.banner-content{

    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 491px;
}

.banner-content h1{
    font-size: 6rem;
    font-weight: 900;
    color: white;
    margin-bottom: 8px;
}

.banner-content p{
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
    margin-bottom: 24px;
    
}

.btn-group{
    display: flex;
    gap: 10px;
}

.spotify{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    height: 44px;
    width: 201px;
    padding: 1.2rem 1.6rem;
    background: linear-gradient(20deg, #F7E93F, #FB09B4, #9100F8);
    border-radius: 60px;
    cursor: pointer;
}

.subscribe{
    font-size: 1.6rem;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
    height: 44px;
    width: 147px;
    padding: 1.2rem 1.6rem;
    border-radius: 60px;
    cursor: pointer;
    margin-right: 70px;
}









/* responsive styles for small device */

@media screen and (max-width: 500px) {
 .menu, .btn{
    display: none;
 }
#hamburger-icon{
    display: inline;
    color: #ffffff;
    font-size:xx-large;

}

nav{
    margin: 0 20px;
    padding: 0;

}

}